Repository issue-tracker-08/issue-tracker-max, pull requests merged in 2023-08, with the labels that each got.

#48 [BE] 토큰에서 사용자 정보 추출
  backend/src/main/java/kr/codesquad/issuetracker/domain/AuthenticationContext.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/config/SecurityConfig.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/config/WebConfig.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/security/jwt/JwtProvider.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/auth/AuthPrincipal.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/auth/AuthPrincipalArgumentResolver.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/filter/JwtFilter.java
  backend/src/test/java/kr/codesquad/issuetracker/infrastructure/security/jwt/JwtProviderTest.java
Labels: enhancement, back-end

#53 [FE] IssuesPage Mock 연동 및 기타 컴포넌트 구현
  fe/src/App.tsx
  fe/src/api/index.ts
  fe/src/components/Header.tsx
  fe/src/components/Issues/IssueItem.tsx
  fe/src/components/LabelTag.tsx
  fe/src/components/Table/TableBodyIssues.tsx
  fe/src/components/Table/TableHeaderIssues.tsx
  fe/src/context/themeModeContext.tsx
  fe/src/customTypes/index.ts
  fe/src/hooks/useFetch.ts
  fe/src/main.tsx
  fe/src/mocks/handlers.ts
  fe/src/pages/MainPage/IssuesPage.tsx
  fe/src/utils/style.ts
  fe/src/utils/time.ts
  fe/tsconfig.json
Labels: front-end

#49 [FE] TabBar 컴포넌트 리팩토링
  fe/src/App.tsx
  fe/src/components/Table/TableHeaderIssues.tsx
  fe/src/components/common/TabBar.tsx
  fe/src/pages/MainPage/IssuesPage.tsx
  fe/src/pages/MainPage/LabelPage.tsx
  fe/src/pages/MainPage/MilestonePage.tsx
Labels: front-end

#57 Revert "[FE] TabBar 컴포넌트 리팩토링"
  fe/src/App.tsx
  fe/src/components/Table/TableHeaderIssues.tsx
  fe/src/components/common/TabBar.tsx
  fe/src/pages/MainPage/IssuesPage.tsx
  fe/src/pages/MainPage/LabelPage.tsx
  fe/src/pages/MainPage/MilestonePage.tsx
Labels: front-end

#58 [FE] TabBar 컴포넌트 리팩토링
  fe/src/App.tsx
  fe/src/components/Table/TableHeaderIssues.tsx
  fe/src/components/common/TabBar.tsx
  fe/src/pages/MainPage/IssuesPage.tsx
  fe/src/pages/MainPage/LabelPage.tsx
  fe/src/pages/MainPage/MilestonePage.tsx
Labels: front-end

#62 [BE] 이슈 등록
  backend/src/main/java/kr/codesquad/issuetracker/application/IssueService.java
  backend/src/main/java/kr/codesquad/issuetracker/domain/Issue.java
  backend/src/main/java/kr/codesquad/issuetracker/domain/IssueAssignee.java
  backend/src/main/java/kr/codesquad/issuetracker/domain/IssueLabel.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/persistence/IssueAssigneeRepository.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/persistence/IssueLabelRepository.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/persistence/IssueRepository.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/IssueController.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/request/IssueRegisterRequest.java
  backend/src/test/java/kr/codesquad/issuetracker/acceptance/IssueAcceptanceTest.java
  backend/src/test/java/kr/codesquad/issuetracker/application/IssueServiceTest.java
  backend/src/test/java/kr/codesquad/issuetracker/fixture/FixtureFactory.java
  backend/src/test/java/kr/codesquad/issuetracker/presentation/ControllerTest.java
  backend/src/test/java/kr/codesquad/issuetracker/presentation/IssueControllerTest.java
Labels: enhancement, back-end

#65 [BE] Issue Assignee API
  backend/src/main/java/kr/codesquad/issuetracker/application/IssueService.java
  backend/src/main/java/kr/codesquad/issuetracker/application/UserAccountService.java
  backend/src/main/java/kr/codesquad/issuetracker/domain/UserAccount.java
  backend/src/main/java/kr/codesquad/issuetracker/exception/ErrorCode.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/persistence/IssueAssigneeRepository.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/persistence/IssueRepository.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/persistence/UserAccountRepository.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/UserAccountController.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/request/AssigneeRequest.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/response/UserProfileResponse.java
  backend/src/test/java/kr/codesquad/issuetracker/application/IssueServiceTest.java
Labels: enhancement, back-end

#68 [BE] 댓글 수정
  backend/src/main/java/kr/codesquad/issuetracker/application/CommentService.java
  backend/src/main/java/kr/codesquad/issuetracker/domain/Comment.java
  backend/src/main/java/kr/codesquad/issuetracker/exception/ErrorCode.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/persistence/CommentRepository.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/CommentController.java
  backend/src/test/java/kr/codesquad/issuetracker/application/unit/CommentServiceTest.java
Labels: enhancement, back-end

#69 [BE] label API 기능 추가
  backend/src/main/java/kr/codesquad/issuetracker/application/IssueService.java
  backend/src/main/java/kr/codesquad/issuetracker/application/LabelService.java
  backend/src/main/java/kr/codesquad/issuetracker/domain/Label.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/persistence/IssueLabelRepository.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/persistence/IssueRepository.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/persistence/LabelRepository.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/IssueController.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/LabelController.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/filter/JwtFilter.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/request/AssigneeRequest.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/request/IssueLabelRequest.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/request/IssueRegisterRequest.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/response/LabelResponse.java
  backend/src/test/java/kr/codesquad/issuetracker/application/IssueServiceTest.java
  backend/src/test/java/kr/codesquad/issuetracker/application/LabelServiceTest.java
  backend/src/test/java/kr/codesquad/issuetracker/presentation/AuthControllerTest.java
Labels: enhancement, back-end

#70 [BE] 이슈 상세 페이지 조회
  backend/src/main/java/kr/codesquad/issuetracker/application/IssueService.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/persistence/IssueRepository.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/persistence/MilestoneRepository.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/persistence/mapper/IssueSimpleMapper.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/IssueController.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/response/IssueDetailResponse.java
  backend/src/test/java/kr/codesquad/issuetracker/application/IssueServiceTest.java
  backend/src/test/java/kr/codesquad/issuetracker/fixture/FixtureFactory.java
  backend/src/test/java/kr/codesquad/issuetracker/presentation/IssueControllerTest.java
Labels: enhancement, back-end

#64 [FE] 새로운 이슈 작성 페이지
  fe/package-lock.json
  fe/package.json
  fe/src/App.tsx
  fe/src/api/fetcher.ts
  fe/src/api/index.ts
  fe/src/assets/icon/grip.svg
  fe/src/components/Dropdown/DropdownIndicator.tsx
  fe/src/components/Dropdown/DropdownItem.tsx
  fe/src/components/Dropdown/DropdownPanel.tsx
  fe/src/components/Dropdown/types.ts
  fe/src/components/Header.tsx
  fe/src/components/common/Avatar.tsx
  fe/src/components/common/Button/Button.tsx
  fe/src/components/common/Button/constants.ts
  fe/src/components/common/Group/CheckboxGroup.tsx
  fe/src/components/common/Group/Fieldset.tsx
  fe/src/components/common/Group/RadioGroup.tsx
  fe/src/components/common/Input/CircleCheckbox.tsx
  fe/src/components/common/Label.tsx
  fe/src/components/common/ProgressBar.tsx
  fe/src/components/common/Sidebar/AssigneeField.tsx
  fe/src/components/common/Sidebar/Container.tsx
  fe/src/components/common/Sidebar/LabelField.tsx
  fe/src/components/common/Sidebar/MilestoneField.tsx
  fe/src/components/common/Sidebar/Sidebar.tsx
  fe/src/components/common/TextArea.tsx
  fe/src/components/common/TextInput.tsx
  fe/src/context/authContext.tsx
  fe/src/context/checkboxContext.tsx
  fe/src/context/radioContext.tsx
  fe/src/customTypes/index.ts
  fe/src/mocks/data.ts
  fe/src/mocks/handlers.ts
  fe/src/pages/Auth/LoginPage.tsx
  fe/src/pages/Auth/SignupPage.tsx
  fe/src/pages/MainPage/IssuesPage.tsx
  fe/src/pages/MainPage/NewIssuePage.tsx
  fe/src/styles/GlobalStyle.tsx
  fe/src/styles/designSystem.ts
Labels: front-end

#76 [FE] Issue detail page UI
  fe/src/App.tsx
  fe/src/api/index.ts
  fe/src/components/Comment.tsx
  fe/src/mocks/data.ts
  fe/src/mocks/handlers.ts
  fe/src/pages/MainPage/IssueDetailPage.tsx
  fe/src/styles/designSystem.ts
Labels: front-end

#77 [BE] Milestone API
  backend/src/main/java/kr/codesquad/issuetracker/application/IssueService.java
  backend/src/main/java/kr/codesquad/issuetracker/application/MilestoneService.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/persistence/IssueRepository.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/persistence/MilestoneRepository.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/IssueController.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/MilestoneController.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/request/IssueMilestoneRequest.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/response/IssueDetailResponse.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/response/LabelResponse.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/response/MilestoneResponse.java
  backend/src/test/java/kr/codesquad/issuetracker/application/IssueServiceTest.java
  backend/src/test/java/kr/codesquad/issuetracker/application/LabelServiceTest.java
  backend/src/test/java/kr/codesquad/issuetracker/fixture/FixtureFactory.java
Labels: enhancement, back-end

#81 [BE] CI/CD
  .github/workflows/deploy.yml
  backend/appspec.yml
  backend/build.gradle
  backend/deploy.sh
  backend/src/main/resources/application.yml
Labels: back-end

#84 [FE] Protected Route 구현 & home path index route 설정
  fe/src/App.tsx
  fe/src/ProtectedRoute.tsx
Labels: front-end

#82 [BE] 댓글 목록 조회
  backend/src/main/java/kr/codesquad/issuetracker/application/CommentService.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/persistence/CommentRepository.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/CommentController.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/response/CommentsResponse.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/response/Slice.java
  backend/src/test/java/kr/codesquad/issuetracker/application/CommentServiceTest.java
Labels: enhancement, back-end

#83 [BE] 이슈 수정
  backend/src/main/java/kr/codesquad/issuetracker/application/AuthService.java
  backend/src/main/java/kr/codesquad/issuetracker/application/IssueService.java
  backend/src/main/java/kr/codesquad/issuetracker/domain/Issue.java
  backend/src/main/java/kr/codesquad/issuetracker/domain/UserAccount.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/persistence/IssueRepository.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/persistence/UserAccountRepository.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/AuthController.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/IssueController.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/request/IssueModifyRequest.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/response/LoginSuccessResponse.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/response/TokenResponse.java
  backend/src/test/java/kr/codesquad/issuetracker/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/kr/codesquad/issuetracker/acceptance/IssueAcceptanceTest.java
  backend/src/test/java/kr/codesquad/issuetracker/application/AuthServiceTest.java
  backend/src/test/java/kr/codesquad/issuetracker/application/IssueServiceTest.java
  backend/src/test/java/kr/codesquad/issuetracker/application/unit/IssueServiceTest.java
  backend/src/test/java/kr/codesquad/issuetracker/fixture/FixtureFactory.java
  backend/src/test/java/kr/codesquad/issuetracker/presentation/AuthControllerTest.java
  backend/src/test/java/kr/codesquad/issuetracker/presentation/IssueControllerTest.java
Labels: enhancement, back-end

#88 feat: CORS 설정
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/config/WebConfig.java
Labels: enhancement, back-end

#85 [FE] Frontend deployment workflow 추가
  .github/workflows/front.yaml
Labels: front-end

#93 [FE] 이슈 상세 페이지 담당자, 레이블, 마일스톤 수정 기능
  fe/package-lock.json
  fe/package.json
  fe/src/api/fetcher.ts
  fe/src/api/index.ts
  fe/src/api/type.ts
  fe/src/components/Dropdown/DropdownIndicator.tsx
  fe/src/components/Issues/IssueDetail/IssueDetailBody.tsx
  fe/src/components/common/Sidebar/AssigneeField.tsx
  fe/src/components/common/Sidebar/LabelField.tsx
  fe/src/components/common/Sidebar/MilestoneField.tsx
  fe/src/components/common/Sidebar/Sidebar.tsx
  fe/src/components/common/TabBar.tsx
  fe/src/customTypes/index.ts
  fe/src/hooks/useFetch.ts
  fe/src/mocks/handlers.ts
  fe/src/pages/Auth/SignupPage.tsx
  fe/src/pages/MainPage/IssueDetailPage.tsx
  fe/src/pages/MainPage/IssuesPage.tsx
  fe/src/pages/MainPage/NewIssuePage.tsx
  fe/src/utils/compareSet.ts
Labels: front-end

#99 [FE] useFetch hook 개선, IssueDetailBody 변경 사항 반영
  fe/.vscode/settings.json
  fe/src/api/index.ts
  fe/src/components/common/Sidebar/AssigneeField.tsx
  fe/src/components/common/Sidebar/Container.style.ts
  fe/src/components/common/Sidebar/LabelField.tsx
  fe/src/components/common/Sidebar/MilestoneField.tsx
  fe/src/customTypes/index.ts
  fe/src/hooks/useFetch.ts
  fe/src/mocks/data.ts
  fe/src/mocks/handlers.ts
  fe/src/pages/MainPage/IssueDetailPage.tsx
  fe/src/pages/MainPage/IssuesPage.tsx
Labels: front-end

#97 [BE] 2주차 리뷰사항 반영 / 협의점 반영
  backend/src/main/java/kr/codesquad/issuetracker/application/CommentService.java
  backend/src/main/java/kr/codesquad/issuetracker/application/IssueService.java
  backend/src/main/java/kr/codesquad/issuetracker/domain/Comment.java
  backend/src/main/java/kr/codesquad/issuetracker/domain/Issue.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/persistence/CommentRepository.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/persistence/IssueAssigneeRepository.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/persistence/IssueLabelRepository.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/persistence/IssueRepository.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/persistence/MilestoneRepository.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/IssueController.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/request/IssueModifyRequest.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/response/IssueDetailResponse.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/response/IssueDetailSidebarResponse.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/response/Slice.java
  backend/src/test/java/kr/codesquad/issuetracker/application/CommentServiceTest.java
  backend/src/test/java/kr/codesquad/issuetracker/application/IssueServiceTest.java
  backend/src/test/java/kr/codesquad/issuetracker/application/unit/IssueServiceTest.java
  backend/src/test/java/kr/codesquad/issuetracker/fixture/FixtureFactory.java
  backend/src/test/java/kr/codesquad/issuetracker/presentation/IssueControllerTest.java
Labels: back-end

#103 [BE] yml 파일 통합
  .github/workflows/deploy.yml
  backend/.gitignore
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-prod.yml
  backend/src/main/resources/application.yml
Labels: back-end

#66 [BE] 이미지 업로드
  backend/build.gradle
  backend/src/main/java/kr/codesquad/config/AwsConfig.java
  backend/src/main/java/kr/codesquad/issuetracker/application/S3Service.java
  backend/src/main/java/kr/codesquad/issuetracker/domain/ImageFile.java
  backend/src/main/java/kr/codesquad/issuetracker/exception/ErrorCode.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/config/AwsProperties.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/config/S3Config.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/FileController.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-prod.yml
Labels: enhancement, back-end

#101 [FE] IssueDetailHeader 컴포넌트 구현
  fe/src/api/index.ts
  fe/src/components/Issues/IssueDetail/IssueDetailHeader.tsx
  fe/src/components/common/Label.tsx
  fe/src/components/common/TextInput.tsx
  fe/src/mocks/data.ts
  fe/src/mocks/handlers.ts
  fe/src/pages/MainPage/IssueDetailPage.tsx
Labels: front-end

#111 [BE] jwt principal 추가
  backend/src/main/java/kr/codesquad/issuetracker/application/AuthService.java
  backend/src/main/java/kr/codesquad/issuetracker/domain/AuthenticationContext.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/security/jwt/JwtProvider.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/CommentController.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/IssueController.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/auth/AuthPrincipalArgumentResolver.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/auth/Principal.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/filter/JwtFilter.java
  backend/src/test/java/kr/codesquad/issuetracker/acceptance/IssueAcceptanceTest.java
  backend/src/test/java/kr/codesquad/issuetracker/acceptance/MilestoneAcceptanceTest.java
  backend/src/test/java/kr/codesquad/issuetracker/infrastructure/security/jwt/JwtProviderTest.java
  backend/src/test/java/kr/codesquad/issuetracker/presentation/IssueControllerTest.java
  backend/src/test/java/kr/codesquad/issuetracker/presentation/MilestoneControllerTest.java
Labels: enhancement, back-end

#113 [BE] 마일스톤 수정
  backend/src/main/java/kr/codesquad/issuetracker/application/MilestoneService.java
  backend/src/main/java/kr/codesquad/issuetracker/domain/Milestone.java
  backend/src/main/java/kr/codesquad/issuetracker/exception/ErrorCode.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/persistence/MilestoneRepository.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/MilestoneController.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/request/MilestoneCommonRequest.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/response/MilestoneResponse.java
  backend/src/main/resources/schema.sql
  backend/src/test/java/kr/codesquad/issuetracker/application/MilestoneServiceTest.java
  backend/src/test/java/kr/codesquad/issuetracker/application/unit/MilestoneServiceTest.java
  backend/src/test/java/kr/codesquad/issuetracker/fixture/FixtureFactory.java
  backend/src/test/java/kr/codesquad/issuetracker/presentation/LabelControllerTest.java
  backend/src/test/java/kr/codesquad/issuetracker/presentation/MilestoneControllerTest.java
Labels: enhancement, back-end

#116 [FE] Label Page 중간 PR
  fe/src/components/LabelTag.tsx
  fe/src/components/Table/TableBody/TableBody.tsx
  fe/src/components/Table/TableBody/TableBodyIssues.tsx
  fe/src/components/Table/TableBody/TableBodyLabels.tsx
  fe/src/components/Table/TableBody/index.ts
  fe/src/components/Table/TableBodyIssues.tsx
  fe/src/components/Table/TableBodyItem/EmptyTableBodyItem.tsx
  fe/src/components/Table/TableBodyItem/TableBodyIssueItem.tsx
  fe/src/components/Table/TableBodyItem/TableBodyItem.tsx
  fe/src/components/Table/TableBodyItem/TableBodyItemLabel.tsx
  fe/src/components/Table/TableBodyItem/index.ts
  fe/src/components/Table/TableHeader/TableHeader.tsx
  fe/src/components/Table/TableHeader/TableHeaderIssues.tsx
  fe/src/components/Table/TableHeader/TableHeaderLabels.tsx
  fe/src/components/Table/TableHeader/index.ts
  fe/src/components/Table/index.ts
  fe/src/customTypes/index.ts
  fe/src/pages/MainPage/IssuesPage.tsx
  fe/src/pages/MainPage/LabelPage.tsx
  fe/src/styles/designSystem.ts
Labels: front-end

#112 [FE] 이슈 상세 페이지 상태 관리 & 댓글 기능
  fe/package-lock.json
  fe/package.json
  fe/src/api/index.ts
  fe/src/components/Comment.tsx
  fe/src/components/Dropdown/DropdownPanel.tsx
  fe/src/components/Issues/IssueDetail/IssueCommentContainer.tsx
  fe/src/components/Issues/IssueDetail/IssueDetailBody.tsx
  fe/src/components/common/Label.style.ts
  fe/src/components/common/Sidebar/AssigneeField.tsx
  fe/src/components/common/Sidebar/Sidebar.tsx
  fe/src/components/common/TextArea.tsx
  fe/src/components/common/TextArea/FileUploadArea.tsx
  fe/src/components/common/TextArea/TextAreaContainer.tsx
  fe/src/components/common/TextArea/TextAreaWrapper.tsx
  fe/src/components/common/TextInput.tsx
  fe/src/customTypes/index.ts
  fe/src/mocks/data.ts
  fe/src/mocks/handlers.ts
  fe/src/pages/MainPage/IssueDetailPage.tsx
  fe/src/pages/MainPage/NewIssuePage.tsx
  fe/src/utils/compareSet.ts
Labels: front-end

#122 [BE] 마일스톤 삭제
  backend/src/main/java/kr/codesquad/issuetracker/application/MilestoneService.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/persistence/MilestoneRepository.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/MilestoneController.java
  backend/src/test/java/kr/codesquad/issuetracker/acceptance/MilestoneAcceptanceTest.java
  backend/src/test/java/kr/codesquad/issuetracker/application/MilestoneServiceTest.java
  backend/src/test/java/kr/codesquad/issuetracker/application/unit/MilestoneServiceTest.java
  backend/src/test/java/kr/codesquad/issuetracker/presentation/MilestoneControllerTest.java
Labels: enhancement, back-end

#120 [BE] 레이블 수정 기능
  backend/src/main/java/kr/codesquad/issuetracker/application/LabelService.java
  backend/src/main/java/kr/codesquad/issuetracker/domain/Label.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/persistence/LabelRepository.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/LabelController.java
  backend/src/test/java/kr/codesquad/issuetracker/application/LabelServiceTest.java
  backend/src/test/java/kr/codesquad/issuetracker/application/unit/LabelServiceTest.java
Labels: enhancement, back-end

#119 [BE] 프론트와의 협의사항 반영
  backend/src/main/java/kr/codesquad/issuetracker/application/CommentService.java
  backend/src/main/java/kr/codesquad/issuetracker/application/LabelService.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/persistence/CommentRepository.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/persistence/IssueRepository.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/CommentController.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/response/CommentRegisterResponse.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/response/CommentsResponse.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/response/IssueDetailResponse.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/response/LabelResponse.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/support/DateTimeFormatterUtil.java
  backend/src/test/java/kr/codesquad/issuetracker/application/IssueServiceTest.java
  backend/src/test/java/kr/codesquad/issuetracker/application/LabelServiceTest.java
  backend/src/test/java/kr/codesquad/issuetracker/application/unit/CommentServiceTest.java
  backend/src/test/java/kr/codesquad/issuetracker/fixture/FixtureFactory.java
Labels: back-end

#127 [BE] 레이블 삭제 기능
  backend/src/main/java/kr/codesquad/issuetracker/application/LabelService.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/persistence/LabelRepository.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/LabelController.java
  backend/src/test/java/kr/codesquad/issuetracker/application/LabelServiceTest.java
  backend/src/test/java/kr/codesquad/issuetracker/application/unit/LabelServiceTest.java
Labels: enhancement, back-end

#124 [FE] NotFoundPage 추가
  fe/src/App.tsx
  fe/src/assets/sadness.png
  fe/src/pages/NotFoundPage.tsx
Labels: front-end

#128 [FE] 이슈 댓글 전체 개수
  fe/src/components/Issues/IssueDetail/IssueCommentContainer.tsx
  fe/src/components/Issues/IssueDetail/IssueDetailBody.tsx
  fe/src/components/Issues/IssueDetail/IssueDetailHeader.tsx
  fe/src/customTypes/index.ts
  fe/src/mocks/data.ts
  fe/src/mocks/handlers.ts
  fe/src/pages/MainPage/IssueDetailPage.tsx
Labels: front-end

#131 [FE] Label Page 및 Label Editor
  fe/src/api/index.ts
  fe/src/components/Dropdown/DropdownIndicator.tsx
  fe/src/components/Dropdown/DropdownPanel.tsx
  fe/src/components/Dropdown/types.ts
  fe/src/components/Label/LabelEditor.tsx
  fe/src/components/Label/LabelTag.tsx
  fe/src/components/Table/TableBodyItem/TableBodyIssueItem.tsx
  fe/src/components/Table/TableBodyItem/TableBodyItemLabel.tsx
  fe/src/components/common/Group/Fieldset.tsx
  fe/src/components/common/Label.style.ts
  fe/src/components/common/Sidebar/LabelField.tsx
  fe/src/components/common/TextInput.tsx
  fe/src/mocks/data.ts
  fe/src/mocks/handlers.ts
  fe/src/pages/MainPage/LabelPage.tsx
  fe/src/styles/designSystem.ts
  fe/src/utils/style.ts
Labels: front-end

#130 [FE] Table 컴포넌트 구조 개선 & MilestoneTable
  fe/src/api/index.ts
  fe/src/components/Table/IssuesTable/IssuesTableBody.tsx
  fe/src/components/Table/IssuesTable/IssuesTableHeader.tsx
  fe/src/components/Table/IssuesTable/IssuesTableItem.tsx
  fe/src/components/Table/LabelsTable/LabelsTableBody.tsx
  fe/src/components/Table/LabelsTable/LabelsTableHeader.tsx
  fe/src/components/Table/LabelsTable/LabelsTableItem.tsx
  fe/src/components/Table/MilestonesTable/MilestonesTable.tsx
  fe/src/components/Table/MilestonesTable/MilestonesTableBody.tsx
  fe/src/components/Table/MilestonesTable/MilestonesTableHeader.tsx
  fe/src/components/Table/MilestonesTable/MilestonesTableItem.tsx
  fe/src/components/Table/MilestonesTable/index.tsx
  fe/src/components/Table/Table.style.ts
  fe/src/components/Table/Table.tsx
  fe/src/components/Table/TableBody/TableBody.tsx
  fe/src/components/Table/TableBody/index.ts
  fe/src/components/Table/TableBodyItem/EmptyTableBodyItem.tsx
  fe/src/components/Table/TableBodyItem/TableBodyItem.tsx
  fe/src/components/Table/TableBodyItem/index.ts
  fe/src/components/Table/TableHeader/TableHeader.tsx
  fe/src/components/Table/TableHeader/index.ts
  fe/src/components/Table/index.ts
  fe/src/components/common/TabBar.tsx
  fe/src/components/common/TextInput.tsx
  fe/src/customTypes/index.ts
  fe/src/mocks/data.ts
  fe/src/mocks/handlers.ts
  fe/src/pages/MainPage/IssuesPage.tsx
  fe/src/pages/MainPage/LabelPage.tsx
  fe/src/pages/MainPage/MilestonePage.tsx
Labels: front-end

#135 [FE] API 연동 관련 수정
  fe/src/App.tsx
  fe/src/api/fetcher.ts
  fe/src/api/index.ts
  fe/src/components/Dropdown/DropdownPanel.tsx
  fe/src/components/Issues/IssueDetail/IssueDetailBody.tsx
  fe/src/components/Issues/IssueDetail/IssueDetailHeader.tsx
  fe/src/components/Table/IssuesTable/IssuesTableItem.tsx
  fe/src/context/authContext.tsx
  fe/src/customTypes/index.ts
  fe/src/mocks/data.ts
  fe/src/mocks/handlers.ts
  fe/src/pages/Auth/LoginPage.tsx
Labels: front-end

#134 [BE] OAuth 로그인 구현
  backend/build.gradle
  backend/src/main/java/kr/codesquad/config/OAuthConfig.java
  backend/src/main/java/kr/codesquad/issuetracker/application/AuthService.java
  backend/src/main/java/kr/codesquad/issuetracker/domain/GithubUser.java
  backend/src/main/java/kr/codesquad/issuetracker/exception/ErrorCode.java
  backend/src/main/java/kr/codesquad/issuetracker/exception/GlobalExceptionHandler.java
  backend/src/main/java/kr/codesquad/issuetracker/exception/OAuthAccessTokenException.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/config/SecurityConfig.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/config/WebClientConfig.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/config/oauth/OauthProperties.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/persistence/UserAccountRepository.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/security/oauth/GithubClient.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/AuthController.java
  backend/src/test/java/kr/codesquad/issuetracker/infrastructure/security/oauth/GithubClientTest.java
Labels: enhancement, back-end

#139 [BE] 이슈 목록 필터링 기능
  backend/src/main/java/kr/codesquad/config/AwsConfig.java
  backend/src/main/java/kr/codesquad/issuetracker/application/IssueService.java
  backend/src/main/java/kr/codesquad/issuetracker/application/S3Service.java
  backend/src/main/java/kr/codesquad/issuetracker/domain/ImageFile.java
  backend/src/main/java/kr/codesquad/issuetracker/domain/Issue.java
  backend/src/main/java/kr/codesquad/issuetracker/domain/IssueSearch.java
  backend/src/main/java/kr/codesquad/issuetracker/domain/IssueSearchFilter.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/config/S3Config.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/persistence/IssueRepository.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/persistence/mapper/AssigneeSimpleMapper.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/persistence/mapper/AuthorMapper.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/persistence/mapper/IssueDAO.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/persistence/mapper/IssueSimpleMapper.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/persistence/mapper/LabelSimpleMapper.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/FileController.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/IssueController.java
  backend/src/main/java/kr/codesquad/issuetracker/utils/IssueSearchParser.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-prod.yml
  backend/src/main/resources/mapper/IssueMapper.xml
  backend/src/test/java/kr/codesquad/issuetracker/application/IssueServiceTest.java
  backend/src/test/java/kr/codesquad/issuetracker/presentation/LabelControllerTest.java
  backend/src/test/java/kr/codesquad/issuetracker/utils/IssueSearchParserTest.java
  backend/src/test/resources/application.yml
Labels: enhancement, back-end

#140 [FE] 배포 hot fix
  fe/src/App.tsx
  fe/src/api/index.ts
  fe/src/components/Header.tsx
  fe/src/components/Issues/IssueDetail/IssueCommentContainer.tsx
  fe/src/components/Issues/IssueDetail/IssueDetailBody.tsx
  fe/src/components/Issues/IssueDetail/IssueDetailHeader.tsx
  fe/src/components/Label/LabelEditor.tsx
  fe/src/components/Table/IssuesTable/IssuesTableItem.tsx
  fe/src/components/common/Sidebar/Sidebar.tsx
  fe/src/customTypes/index.ts
  fe/src/mocks/data.ts
  fe/src/pages/Auth/AuthPage.tsx
  fe/src/pages/MainPage/MainPage.tsx
  fe/src/styles/GlobalStyle.tsx
Labels: front-end

#142 [BE] OAuth refactor
  backend/src/main/java/kr/codesquad/issuetracker/application/AuthService.java
  backend/src/main/java/kr/codesquad/issuetracker/domain/GithubUser.java
  backend/src/main/java/kr/codesquad/issuetracker/domain/UserAccount.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/config/oauth/OauthProperties.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/security/oauth/GithubClient.java
Labels: back-end

#145 [FE] 3주차 리뷰 반영 리팩토링
  fe/src/api/type.ts
  fe/src/components/Comment.tsx
  fe/src/components/Issues/IssueDetail/IssueCommentContainer.tsx
  fe/src/components/Issues/IssueDetail/IssueDetailBody.tsx
  fe/src/components/Issues/IssueDetail/IssueDetailHeader.tsx
  fe/src/components/Label/LabelEditor.tsx
  fe/src/components/Milestone/MilestoneEditor.tsx
  fe/src/components/Table/LabelsTable/LabelsTableBody.tsx
  fe/src/components/Table/LabelsTable/LabelsTableHeader.tsx
  fe/src/components/Table/LabelsTable/LabelsTableItem.tsx
  fe/src/components/Table/MilestonesTable/MilestonesTable.tsx
  fe/src/components/Table/MilestonesTable/MilestonesTableBody.tsx
  fe/src/components/Table/MilestonesTable/MilestonesTableItem.tsx
  fe/src/components/common/ProgressBar.tsx
  fe/src/components/common/Sidebar/Sidebar.tsx
  fe/src/components/common/TabBar.tsx
  fe/src/hooks/useFetch.ts
  fe/src/mocks/data.ts
  fe/src/mocks/handlers.ts
  fe/src/pages/MainPage/IssueDetailPage.tsx
  fe/src/pages/MainPage/LabelPage.tsx
  fe/src/pages/MainPage/MilestonePage.tsx
Labels: front-end

#149 [BE] OAuth 회원가입
  .github/workflows/deploy.yml
  backend/src/main/java/kr/codesquad/issuetracker/application/AuthService.java
  backend/src/main/java/kr/codesquad/issuetracker/domain/GithubUser.java
  backend/src/main/java/kr/codesquad/issuetracker/domain/UserAccount.java
  backend/src/main/java/kr/codesquad/issuetracker/exception/ErrorCode.java
  backend/src/main/java/kr/codesquad/issuetracker/exception/GlobalExceptionHandler.java
  backend/src/main/java/kr/codesquad/issuetracker/exception/InitialLoginException.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/persistence/UserAccountRepository.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/security/oauth/GithubClient.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/AuthController.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/request/OauthSignupRequest.java
  backend/src/main/resources/schema.sql
  backend/src/test/java/kr/codesquad/issuetracker/infrastructure/security/oauth/GithubClientTest.java
Labels: enhancement, back-end

#150 [BE] 필터 추가 기능 (no 태그), 이슈 목록 페이지네이션
  backend/src/main/java/kr/codesquad/issuetracker/application/IssueService.java
  backend/src/main/java/kr/codesquad/issuetracker/domain/Issue.java
  backend/src/main/java/kr/codesquad/issuetracker/domain/IssueSearch.java
  backend/src/main/java/kr/codesquad/issuetracker/domain/IssueSearchFilter.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/persistence/mapper/IssueDAO.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/IssueController.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/response/Page.java
  backend/src/main/java/kr/codesquad/issuetracker/utils/IssueSearchParser.java
  backend/src/main/resources/mapper/IssueMapper.xml
  backend/src/test/java/kr/codesquad/issuetracker/utils/IssueSearchParserTest.java
Labels: enhancement, back-end

#155 [FE] 이슈 다중선택 기능
  fe/src/api/index.ts
  fe/src/assets/icon/checkBoxDisable.svg
  fe/src/components/Table/IssuesTable/IssuesTableBody.tsx
  fe/src/components/Table/IssuesTable/IssuesTableHeader.tsx
  fe/src/components/Table/IssuesTable/IssuesTableItem.tsx
  fe/src/mocks/handlers.ts
  fe/src/pages/MainPage/IssuesPage.tsx
Labels: front-end

#159 [BE] fix: 이슈 목록 조회 필터 수정
  .github/workflows/deploy.yml
  backend/src/main/java/kr/codesquad/issuetracker/application/IssueService.java
  backend/src/main/java/kr/codesquad/issuetracker/domain/IssueSearch.java
  backend/src/main/java/kr/codesquad/issuetracker/domain/IssueSearchFilter.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/persistence/mapper/AssigneeSimpleMapper.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/persistence/mapper/LabelSimpleMapper.java
  backend/src/main/resources/mapper/IssueMapper.xml
  backend/src/test/java/kr/codesquad/issuetracker/application/IssueServiceTest.java
  backend/src/test/java/kr/codesquad/issuetracker/utils/IssueSearchParserTest.java
Labels: bug, back-end

#161 [BE] 이슈 다중 상태 변경
  backend/src/main/java/kr/codesquad/issuetracker/application/IssueService.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/persistence/IssueRepository.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/IssueController.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/request/MultipleIssueModifyRequest.java
Labels: enhancement, back-end

#171 [FE] Issue 삭제 버튼 구현
  fe/src/api/index.ts
  fe/src/components/Issues/IssueDetail/IssueDetailBody.tsx
  fe/src/mocks/handlers.ts
Labels: front-end, feat

#169 [FE] GitHub OAuth 로그인/회원가입
  fe/src/api/index.ts
  fe/src/components/Auth/GitHubLoginButton.tsx
  fe/src/hooks/useInput.tsx
  fe/src/mocks/handlers.ts
  fe/src/pages/Auth/LoginPage.tsx
Labels: front-end, feat

#175 Be/feature/#174 issue remove
  backend/src/main/java/kr/codesquad/issuetracker/application/IssueService.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/persistence/IssueRepository.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/IssueController.java
  backend/src/test/java/kr/codesquad/issuetracker/application/unit/IssueServiceTest.java
Labels: enhancement, back-end

#172 [FE] 이슈 필터 기능
  fe/src/App.tsx
  fe/src/api/index.ts
  fe/src/api/type.ts
  fe/src/components/Dropdown/DropdownIndicator.tsx
  fe/src/components/Dropdown/DropdownItem.tsx
  fe/src/components/Dropdown/DropdownPanel.tsx
  fe/src/components/Dropdown/types.ts
  fe/src/components/FilterBar.tsx
  fe/src/components/IssueDetail/IssueCommentContainer.tsx
  fe/src/components/IssueDetail/IssueDetailBody.tsx
  fe/src/components/IssueDetail/IssueDetailHeader.tsx
  fe/src/components/NavigationBar.tsx
  fe/src/components/Pagination.tsx
  fe/src/components/Table/IssuesTable/IssuesDropdownWrapper.tsx
  fe/src/components/Table/IssuesTable/IssuesTable.tsx
  fe/src/components/Table/IssuesTable/IssuesTableBody.tsx
  fe/src/components/Table/IssuesTable/IssuesTableHeader.tsx
  fe/src/components/common/Group/CheckboxGroup.tsx
  fe/src/components/common/Group/RadioGroup.tsx
  fe/src/components/common/TabBar.tsx
  fe/src/context/IssuesFilterContext.tsx
  fe/src/context/checkboxContext.tsx
  fe/src/context/radioContext.tsx
  fe/src/customTypes/index.ts
  fe/src/mocks/data.ts
  fe/src/mocks/handlers.ts
  fe/src/pages/MainPage/IssueDetailPage.tsx
  fe/src/pages/MainPage/IssuesPage.tsx
  fe/src/pages/MainPage/LabelPage.tsx
  fe/src/utils/generateFilterText.ts
Labels: front-end

#176 [FE] 코멘트 리팩토링
  fe/src/components/IssueDetail/IssueCommentContainer.tsx
  fe/src/components/common/Sidebar/AssigneeField.tsx
  fe/src/components/common/Sidebar/LabelField.tsx
  fe/src/components/common/Sidebar/MilestoneField.tsx
  fe/src/pages/MainPage/NewIssuePage.tsx
Labels: front-end

#180 [BE] 이슈 카운트 쿼리 수정, 이미지 리사이징 추가
  backend/build.gradle
  backend/src/main/java/kr/codesquad/issuetracker/application/S3Service.java
  backend/src/main/java/kr/codesquad/issuetracker/exception/ErrorCode.java
  backend/src/main/java/kr/codesquad/issuetracker/infrastructure/persistence/mapper/IssueCountMapper.java
  backend/src/main/java/kr/codesquad/issuetracker/presentation/FileController.java
  backend/src/main/resources/mapper/IssueMapper.xml
Labels: bug, enhancement, back-end
